<nav class="navbar navbar-dark fixed-top bg-light" id="mainNav">
    <div class="container">
        <!-- Happireshipi logo should take us to the top of main page, as next step it shoul reload to endpoint with main page -->
        <!-- now it has css only for mobile devices -it is not perfect dor bigger dimensions -->
        <a class="navbar-brand" href="{{ url_for('index')}}">
            <img src="{{url_for('static', filename='logo.png')}}" class="img float-left" />
        </a>

        {% if 'user' in session %}
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="width: 200px;">
                Menu {{ session['user'] if 'user' in session }}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('addNewRecipe')}}" class="text-white" >Dodaj przepis</a>
                <a class="dropdown-item" href="{{ url_for('myRecipes')}}" class="text-white">Moje przepisy</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('logout')}}" class="text-white">Wyloguj {{ session['user'] if 'user' in session }}</a>
            </div>
        </div>
        {% else %}
        <div class="btn-group">
            <button type="button" class="btn btn-primary " style="width: 100px;">
                <a href="{{ url_for('login')}}" class="text-white">Zaloguj</a>
            </button>
            <button type="button" class="btn  " style="width: 100px;">
                <a href="{{ url_for('register')}}" class="text-black">Zarejestruj</a>
            </button>
        </div>
    
        {% endif %}

    </div>
</nav>