{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 mx-auto">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Składniki</th>
        <th scope="col">Przepis</th>
      </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
      <tr>
        <th scope="row">{{recipe.int}}</th>
        <td>{{recipe.nazwa}}</td>
        <td>{{recipe.skladniki}}</td>
        <td>{{recipe.przygotowanie}}</td>
        <td>
            <a href="{{url_for('updateProcess', recipe_id=recipe.int)}}" class="button button-primary " role="button">Uaktualnij...</a>
            <a href="{{url_for('deleteProcess', recipe_id=recipe.int)}}" class="button button-danger " role="button">Usuń...</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
{% endblock %}